@import './base.css';

@font-face {
  font-family: Bladur;
  src: url(/projet-dnd/src/assets/font/Baldur.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Darker;
  src: url(/projet-dnd/src/assets/font/Darker.ttf);
}

@font-face {
  font-family: GoldenSwing;
  src: url(/projet-dnd/src/assets/font/GoldenSwing.ttf);
}

@font-face {
  font-family: Medieval;
  src: url(/projet-dnd/src/assets/font/MedievalSharp-Regular.ttf);
}


#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}



@media (min-width: 1024px) {
  body {
   
  }

  #app {
   
  }
}
