@import './base.css';

@font-face {
  font-family: Bladur;
  src: url(../assets/font/Baldur.ttf) format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: Darker;
  src: url(../assets/font/Darker.ttf) format('truetype');
}

@font-face {
  font-family: GoldenSwing;
  src: url(../assets/font/GoldenSwing.ttf) format('truetype');
}

@font-face {
  font-family: Medieval;
  src: url(../assets/font/MedievalSharp-Regular.ttf) format('truetype');
}


#app {
  margin: 0 auto;
  font-weight: normal;
}

h1 {
  font-family: Medieval;
  text-transform: uppercase;
}

button {
  font-family: GoldenSwing;
  text-transform: lowercase;
}

p {
  font-family: GoldenSwing;
}

h3 {
  font-family: Bladur;
}

a {
  text-decoration: none;
  transition: 0.4s;
}



@media (min-width: 1024px) {
  body {
   
  }

  #app {
   
  }
}
