@import './base.css';

#app {
 
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}



@media (min-width: 1024px) {
  body {
   
  }

  #app {
   
  }
}
